<nav class="navbar navbar-expand-lg shadow-sm p-3 bg-light">
    <div class="container-fluid mx-5">
        <a class="navbar-brand fw-bold" href="/">OmniShield</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" 
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">

                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Insurance Product
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Term Insurance</a></li>
                        <li><a class="dropdown-item" href="#">Investment Plans</a></li>
                        <li><a class="dropdown-item" href="#">Health Insurance</a></li>
                        <li><a class="dropdown-item" href="#">Car Insurance</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Renew Your Policy
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Term Life Renewal</a></li>
                        <li><a class="dropdown-item" href="#">Investment Renewal</a></li>
                        <li><a class="dropdown-item" href="#">Health Renewal</a></li>
                        <li><a class="dropdown-item" href="#">Car Renewal</a></li>
                        <li><a class="dropdown-item" href="#">Car Renewal</a></li>
                        
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Renewal
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">🏥Health</a></li>
                        <li><a class="dropdown-item" href="#">🏠Home</a></li>
                        <li><a class="dropdown-item" href="#">🚗Car</a></li>
                        <li><a class="dropdown-item" href="#">🏍️bike</a></li>
                        <li><a class="dropdown-item" href="#">🔹Other</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Claims</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Support 📞</a>
                </li>

                <li class="nav-item">
                    <button class="btn btn-secondary ms-3">Sign In</button>
                </li>
            </ul>
        </div>
    </div>
</nav>